In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
data=pd.read_csv("data.csv")
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,7
1,324,107,4,4.0,4.5,8.87,1,5
2,316,104,3,3.0,3.5,8.00,1,5
3,322,110,3,3.5,2.5,8.67,1,5
4,314,103,2,2.0,3.0,8.21,0,4

In [6]:
data.describe()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500,4.712500
std,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362,1.452625
min,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000,1.000000
25%,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000,4.000000
50%,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000,5.000000
75%,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000,6.000000
max,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000,7.000000

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   GRE Score          400 non-null    int64
 1   TOEFL Score        400 non-null    int64
 2   University Rating  400 non-null    int64
 3   SOP                400 non-null    float64
 4   LOR                400 non-null    float64
 5   CGPA               400 non-null    float64
 6   Research           400 non-null    int64
 7   Chance of Admit    400 non-null    int64
dtypes: float64(3), int64(5)
memory usage: 25.1 KB

In [8]:
data.isnull().sum()

GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [10]:
X=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [11]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15)

In [12]:
from sklearn.ensemble import GradientBoostingRegressor
rgr = GradientBoostingRegressor()
rgr.fit(X_train,y_train)

GradientBoostingRegressor()

In [13]:
rgr.score(X_test,y_test)

0.6945847972835841

In [14]:
y_predict=rgr.predict(X_test)

In [15]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [17]:
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import numpy as np
print('Mean Absolute Error:', mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 4.0146039189116305
Mean Squared Error: 17.82991852693681
Root Mean Squared Error: 4.2225488187748415

In [28]:
from sklearn.linear_model._logistic import LogisticRegression

In [32]:
logi = LogisticRegression(random_state=0, max_iter=1000)

In [33]:
val = logi.fit(X_train, y_train)

ValueError: This solver needs samples of at least 2 classes in the data, but the data contains only one class: True

In [31]:
y_pred = lr.predict(X_test)

NameError: name 'lr' is not defined

In [35]:
from sklearn.metrics import accuracy_score, recall_score, roc_auc_score, confusion_matrix

print('Accuracy Score:', accuracy_score(y_test, y_pred))  
print('Recall Score:', recall_score(y_test, y_pred))  
print('ROC AUC Score:', roc_auc_score(y_test, y_pred))
print('Confussion Matrix:\n', confusion_matrix(y_test, y_pred))

NameError: name 'y_pred' is not defined

In [36]:
import pickle

In [37]:
pickle.dump(lr, open("university.pkl", "wb"))

NameError: name 'lr' is not defined